body {
    font-family: 'Arial', sans-serif;
        background-image: url('https://img.pikbest.com/backgrounds/20220119/smart-home-technology-life-simple-and-convenient_6244392.jpg!sw800');
        background-size: cover;
        background-position: center;
}